<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm app component</h3>
      <!-- <hr/>
      <app-success-alert></app-success-alert>
      <app-warning-alert></app-warning-alert>
      <div app-servers></div>
      <hr/>
      <app-user></app-user> -->
      <hr/>
      <app-details></app-details>
    </div>
  </div>
</div>

