<label>User name</label>
<input type="text" class="form-control" [(ngModel)]="userName"/>
<p>{{ userName }}</p>
<button class="btn btn-primary" [disabled]="userName ===''" (click)="onResetUserName()">Reset User Name</button>