<button class="btn btn-primary" (click)="onClick()">Display details</button>
<p *ngIf="showParagraph">Secret password=tuna</p>
<div
  *ngFor="let myclick of clicks; let i = index"
  [ngStyle]="{backgroundColor: getColor(i)}"
  [ngClass]="{white: i >= 4 }"
  >
    {{myclick}}
</div>